*.wal
*.bak
scripts/lib/application.mi
scripts/lib/attribs.m
scripts/lib/colormgr.mi
scripts/lib/config.mi
scripts/lib/core.mi
scripts/lib/exd.mi
scripts/lib/fileio.mi
scripts/lib/pldir.mi
scripts/lib/winampconfig.mi
scripts/lib/com/AutoRepeatButton.m
scripts/lib/com/centerlayer.m
scripts/lib/com/customseek.m
scripts/lib/com/debug.m
scripts/lib/com/dispatch_ifc.m
scripts/lib/com/dragvolume.m
scripts/lib/com/fillbar.m
scripts/lib/com/glow.m
scripts/lib/com/glowobject.m
scripts/lib/com/rotationlayer.m
scripts/lib/com/songinfo.m
xml/main.xml
images/wamodern/*.*
images/doom/satsuki2.png
